.login-box {
  margin-top: -50px;
  overflow: hidden;
  height: 100vh;
  background: url('http://pic.5tu.cn/uploads/allimg/1911/pic_5tu_big_2019010282234581834.jpg') no-repeat center / 100% 100vh;
  .input {
    width: 80%;
    margin: 0 auto;
  }
  .btn {
    width: 80%;
    margin: 30px auto;
  }
  .input-box {
    margin-top: 250px;
  }
}