.home-box {
  .nav-box {
    height: 300px;
    padding: 120px 0 0 60px;
    background: url('./img/img1.png') no-repeat center center;

    .head-img {
      display: inline-block;
      vertical-align: middle;
      margin-right: 20px;
      border-radius: 50%;
      overflow: hidden;
    }
    .nick-name {
      display: inline-block;
      vertical-align: middle;
    }
  }
  .content-box {
    height: 800px;
    background: #000;
  }
}